{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/Poulnabronedolmen.png" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Irish Dolmens</header>
      <p> A list of Irish Dolmens </p>
      {{> error }}
    </article>
  </div>
</section>